$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?704fb82b9b3697330748ec73c4498422") format("truetype"),
url("./flaticon.woff?704fb82b9b3697330748ec73c4498422") format("woff"),
url("./flaticon.woff2?704fb82b9b3697330748ec73c4498422") format("woff2"),
url("./flaticon.eot?704fb82b9b3697330748ec73c4498422#iefix") format("embedded-opentype"),
url("./flaticon.svg?704fb82b9b3697330748ec73c4498422#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "call": "\f101",
    "guarantee": "\f102",
    "speed": "\f103",
    "reliability": "\f104",
    "user-experience": "\f105",
    "microscope": "\f106",
    "blackboard": "\f107",
    "diagram": "\f108",
    "monitor": "\f109",
    "play-button": "\f10a",
);

.flaticon-call:before {
    content: map-get($flaticon-map, "call");
}
.flaticon-guarantee:before {
    content: map-get($flaticon-map, "guarantee");
}
.flaticon-speed:before {
    content: map-get($flaticon-map, "speed");
}
.flaticon-reliability:before {
    content: map-get($flaticon-map, "reliability");
}
.flaticon-user-experience:before {
    content: map-get($flaticon-map, "user-experience");
}
.flaticon-microscope:before {
    content: map-get($flaticon-map, "microscope");
}
.flaticon-blackboard:before {
    content: map-get($flaticon-map, "blackboard");
}
.flaticon-diagram:before {
    content: map-get($flaticon-map, "diagram");
}
.flaticon-monitor:before {
    content: map-get($flaticon-map, "monitor");
}
.flaticon-play-button:before {
    content: map-get($flaticon-map, "play-button");
}
